<div class="container" style="width: 300px">
  <h2>URL Shortener</h2>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt=""
    style="height: 200px; weight: 200px" class="logo my-4">

  <div class="container">
    <form action="/getURL" method="post">
      <input class="form-control mb-4" type="url" placeholder="Original URL..." name="originalURL">
      <button class="btn btn-primary" type="submit">Shorten!</button>
    </form>
  </div>

  {{#if short_url}}
  <div class="container mt-4">
    <p>Shortened URL: {{ short_url }}</p>
  </div>
  {{/if}}
</div>